* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

html, body, #container {
  height: 100%;
}

.hidden {
  display: none;
}

.panel {
  background-color: #fafafa;
  border: solid 1px #ccc;
  border-radius: 2px;
  font-family: 'Arial', sans-serif;
  padding: 10px;
}

.djs-label {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.djs-palette-entries {
  display: flex;
  flex-direction: column;
}
.djs-palette.two-column.open {
  width: 130px;
}
.djs-palette {
  font-family: 'Roboto', sans-serif;
  width: 130px;
  background: white;
  padding: 10px;
  box-shadow: 2px 2px 4px 0px rgba(157,181,201,0.65);
  border: solid 1px rgba(198,201,204);
}
.djs-palette h2 {
  font-size: 16px;
}
.djs-palette p {
  font-size: 13px;
  color: rgb(172, 174, 175);
  margin: 10px 0px;
}
.djs-palette .group {
  display: block;
  margin-top: 10px; 
}
.djs-context-pad .group h3,
.djs-palette .group h3 {
  text-transform: uppercase;
  font-size: 9px;
  color: rgb(172, 174, 175);
  margin-bottom: 4px;
}
.djs-palette .entry, .djs-palette .djs-palette-toggle {
  width: 100%;
  height: auto;
}
.input-service {
  margin: 5px 0;
  border: 2px solid rgb(47, 131, 187);
  border-radius: 4px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  color: rgb(47, 131, 187);
  background: rgba(47, 131, 187, 0.2);
  font-size: 12px;
  font-weight: 700;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
}
.output-service {
  margin: 5px 0;
  border-radius: 4px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border: 2px solid rgb(37, 207, 207);
  color: rgb(37, 207, 207);
  background: rgba(37, 207, 207, 0.2);
  font-size: 12px;
  font-weight: 700;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
}
.other-service {
  margin: 5px 0;
  border: 2px solid rgb(119, 207, 97);
  border-radius: 16px;
  color: rgb(119, 207, 97);
  background: rgba(119, 207, 97, 0.2);
  font-size: 12px;
  font-weight: 700;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
}
.document-preview {
  margin: 5px 0;
  border: 2px solid rgb(51, 12, 156);
  border-radius: 4px;
  color: rgb(51, 12, 156);
  background: rgba(51, 12, 156, 0.2);
  font-size: 12px;
  font-weight: 700;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
}
.classification-preview {
  margin: 5px 0;
  border: 2px solid rgb(216, 116, 22);
  border-radius: 4px;
  color: rgb(216, 116, 22);
  background: rgba(216, 116, 22, 0.2);
  font-size: 12px;
  font-weight: 700;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
}

.processing-preview {
  margin: 5px 0;
  border-radius: 4px;
  border: 2px solid rgb(23, 189, 153);
  color: rgb(23, 189, 153);
  background: rgba(23, 189, 153, 0.2);
  font-size: 12px;
  font-weight: 700;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
}

.preview {
  border: 2px dotted rgb(117, 117, 117);
  color: rgb(117, 117, 117);
  background: rgba(117, 117, 117, 0.2);
  margin: 5px 0;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
}

.djs-context-pad {
  font-family: 'Roboto', sans-serif;
  border-radius: 2px;
  border: solid 1.5px rgb(245, 152, 65);
  padding: 5px;
  background: white;
  width: 122px !important;
}

.djs-context-pad .entry {
  height: 32px;
  width: 32px;
  margin-right: 4px;
  margin-bottom:  4px;
}
.context-item {
  border: 2px dotted rgb(117, 117, 117);
  color: rgb(117, 117, 117);
  background: rgba(117, 117, 117, 0.2);
  height: 32px;
  width: 32px;
  border-radius: 4px;
}
.context-remove {
  border: none;
  color: black;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

}
.context-remove svg {
  height: 16px;
  width: 16px;
}

.context-output {
  border: 2px solid rgb(37, 207, 207);
  background: rgba(37, 207, 207, 0.2);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.context-other {
  border: 2px solid rgb(119, 207, 97);
  border-radius: 16px;
  background: rgba(119, 207, 97, 0.2);
}

.bpmn-icon-task.red {
  color: #cc0000 !important;
}

.bpmn-icon-task.yellow {
  color: #ffc800 !important;
}

.bpmn-icon-task.green {
  color: #52B415 !important;
}

#quality-assurance {
  color: #111;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#quality-assurance #form input {
  border: solid 1px #ccc;
  border-radius: 2px;
  font-family: 'Arial', sans-serif;
  padding: 10px;
}

#quality-assurance #form input[type=text] {
  width: 100%;
}

#quality-assurance #form #warning {
  background-color: rgba(255, 0, 0, 0.25);
  border-radius: 2px;
  padding: 10px;
}

#quality-assurance #form input[type=submit] {
  background-color: #FAFAFA;
  color: #111;
}

#hint {
  bottom: 20px;
  left: 20px;
  position: absolute;
}